﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Helvetica, Tahoma, Arial;
    font-size: 12pt;
    font-weight: 600;
}
html,body { 
    min-height:100%;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fafafa;
    min-height:100%;
}

.footer{

}
.divFooter{
    width: 1100px;
    max-width: 1150px;
    color: white;
    margin: 0 auto;
}
.divFooter > a {
    color: white;
}
.divFooter > a:hover, .divFooter > a span:hover{
    color: cadetblue;
    text-decoration: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* help stuff */
.helpImgDiv {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
	width: 100%
}
.helpImgTitle{
    font-style: italic;
    font-size: 10pt;
    font-weight: bold;
    float: right;
    clear: both;
}
.helpImg{
    padding:1px;
    border:1px dashed black;
    max-width: 600px;
    float:right;
}
.helpHeaderH4{
    background-color: #337ab7;
    color: white;
    line-height: 18pt;
    padding-left: 5px;
}
.helpNavLink{
    font-size:larger; 
    padding-top: 25px; 
    display:inline-block;  
}
.helpStrongInfoH5{
    background: #ff0000;
    color: white;
    font-weight: bolder;
    text-align: center;
    line-height: 16pt;
}
.helpListDiv {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.helpListUL{
    width: 600px;
}
.helpListUL > li {
    width: 600px;
    margin-bottom: 20px;
    line-height: 30px;
    height: 30px;
}
.homeHelpUL > li {
    margin-bottom: 20px;
}
.li1{
    /*border: 2px dashed #33a3dd;*/
    background-color: #f3f3f3
}
.li2{
    /*border: 2px dashed #33a3dd*/ 
}


/* Adjust modals */
.modal-dialog {
    /* new custom width */
    width: 950px;
    max-width: 950px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 5mm;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
/* correct for p tag embedded in bootstrap btn's */
.btn{
    text-indent : 0;
}

/* navbar mods to look like Rally/CA*/
.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 60px;
    height: 50px;
}
.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus {
    background-color: black;
    color: cadetblue;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 50px;
    color: white;
    background-color:black;
}

.navbar {
    background-color: black;
}
.navbar-text {
    line-height: 40px;
}
.featureTypeTitle {
    color: white;
    font-weight: bold;
    background-color: #337ab7;
}

/* home */
.homeH3{
    background-color: #337ab7;
    color: white;
    line-height: 22pt;
    padding-left: 5px;
}

/*validation*/
.field-validation-error {
    color: red;
    font-weight: bold;
}

.input-validation-error {
    background: yellow;
    border: 1px solid red;
}

.homePage img{
    border:1px dashed black;
    margin: 5px 5px 5px 5px;
}

/* forms */

/* Feature List */
.H2SpanFeatureEdit{
  
}

.divGlyphicon{
    margin-right: 5px;
    vertical-align: middle;
}
.divAddTaskWarning{
    color:gray;
}
.divCreateInRallyForm {
    margin-top: 4mm;
}

/* Feature Edit*/
.divFeatureEditTitle{
    position: fixed;
    width: 1150px;
    font-size: 16pt;
    color: white;
    background-color: #337ab7;
    padding: 3px 8px 3px 8px;
    border:2px solid white;
    border-radius: 8px;
    line-height: 35px;
    z-index: 100;
}
.divTasksHeader{
    font-size:12pt;
    font-weight:bolder;
    padding-top: 15px;
    padding-bottom:15px;
    vertical-align:middle;
}
.tdStoryProjectName{
    background-color: white;
}
.tdStoryDescription{
    background-color: #f3f3f3;
    vertical-align: top;
}
.tdStoryOwner{
    background-color: white;
}
.tdStoryNotes{
    background-color: #f3f3f3;
}

.tdTaskName{
    background-color: white;
}
.tdTaskDescription{
    background-color: #f3f3f3;
    vertical-align: top;
}
.tdTaskOwner{
    background-color: white;
}
.tdTaskNotes{
    background-color: #f3f3f3;
}
.divFeatureEditEpicButtons{

}

.divCurrentSelectedFeature {
    margin-top: 4mm;
    text-align: center;
    font-size: 16pt;
}

.inputFeatureIdToSearchFor {
    display: inline-block;
    width: 250px;
    max-width: 250px;
}

.divLookupFeatureId {
    width: 100%;
}

.divUserFeedback {
    text-align: center;
}

.divUserFeedbackOnFeatureLookup {
    display: inline-block;
}

.div_HTMLFeatureDisplayView {
}

.divBtnCreateInRally {
    margin-top: 4mm;
    text-align:center;
}

/* progress bar */
#statusBorder {
    position: relative;
    height: 35px;
    width: 300px;
    border: solid 1px gray;
    /*display: none;*/
}

#statusFill {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    background-color: Blue;
    height: 35px;
}

.divStatusBorder {
    margin: 0 auto;
}
