﻿@model RallyMVC.ViewModels.FeatureCreateViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Feature</h4>
        <hr />
        @Html.ValidationSummary(true, "Some fields are missing!", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.AvailableFeatureTemplateTypes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AvailableFeatureTemplateTypes", Model.AvailableFeatureTemplateTypes, "Choose...", new { @class = "form-control" })
                @Html.ValidationMessage("AvailableFeatureTemplateTypes", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Project</b>
            <div class="col-md-10">
                @Html.DropDownList("RallyProjectId", Model.AvailableProjectsInRally, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <b class="control-label col-md-2">Assigned User</b>
            <div class="col-md-10">
                @Html.DropDownList("AssignedUserId", Model.AvailableUsers, "Choose...", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreliminaryEstimateChoices, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PreliminaryEstimateId", Model.PreliminaryEstimateChoices, "Choose...", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "width:480px;max-width:480px;" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 10, 40, new { @class = "form-control", style = "width:480px;max-width:480px;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.ScheduleStateFeature, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.ScheduleStateFeature, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ScheduleStateFeature, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="createFeatureBtn" value="Create" class="btn btn-success" >
            </div>
        </div>
    </div>
    @Html.Hidden("RallyProjectName")
    @Html.Hidden("PreliminaryEstimateName")
    @Html.Hidden("AssignedUserName")
    @Html.Hidden("AssignedFeatureTemplateTypeId")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {

        // onload set the corresponding hidden field value
        $("#RallyProjectName").val($("#RallyProjectId").find("option:selected").text());

        /* 
        on change of DDL's set the corresponding hidden field value
        */
        $("#RallyProjectId").change(function () {
            $("#RallyProjectName").val($(this).find("option:selected").text());
        });
        $("#PreliminaryEstimateId").change(function () {
            $("#PreliminaryEstimateName").val($(this).find("option:selected").text());
        });
        $("#AssignedUserId").change(function () {
            $("#AssignedUserName").val($(this).find("option:selected").text());
        });
        $("#AvailableFeatureTemplateTypes").change(function () {
            $("#AssignedFeatureTemplateTypeId").val($(this).find("option:selected").val());
        });

    });
</script>