﻿@model IEnumerable<RallyMVC.ViewModels.FeatureListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Feature Template List</h2>


@Html.ActionLink("Create New Feature Template", "Create", null, null, new { @class = "btn btn-primary btn-sm" , @style = "margin-bottom: 5mm;"})


@if (TempData["Message"] != null) // controller message
{
    <div class="alert alert-info fade in" role="alert" id="MessageAlert">
        <strong>@(TempData["Message"])</strong>
    </div>
    <script>
        // fade out/slideup in 3 seconds
        $("#MessageAlert").fadeTo(3000, 500).slideUp(500, function () {
            $("#MessageAlert").alert('close');
        });
    </script>
}

<table class="table table-hover table-striped">

    @foreach (var group in Model.GroupBy(m => m.FeatureTemplateType).OrderBy(x => x.Key)) // top-down
    {
        <tr>
            <td colspan="5" class="text-center featureTypeTitle">@group.Key <i>Template(s)</i></td>
        </tr>
        <tr style="font-size: 10pt; line-height: 10px;">
            <th width="30%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="60%">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Edit</th>
            <th>Remove</th>
            <th></th>
        </tr>
        foreach (var item in group)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td align="center">
                    <span class="divGlyphicon"><a href="@Url.Action("Edit", new { id = item.Id })"><span class="glyphicon glyphicon-edit" title="Edit @(item.Name)"></span></a></span>
                </td>
                <td align="center">
                    <span class="divGlyphicon"><a href="@Url.Action("Delete", new { id = item.Id })"><span class="glyphicon glyphicon-remove" title="Remove @(item.Name)"></span></a></span>
                </td>
                <td width="20%" nowrap align="center">                    
                    @if (item.CanCreateInRally)
                    {
                        @Html.ActionLink("Create In Rally", "Create", "RallyApi", new { id = item.Id }, new { @class = "btn btn-success btn-sm", title = "Create Template " + item.Name })
                    }
                    else
                    {
                        <a href="@Url.Action("Edit", new { id = item.Id })">
                            <span class="btn btn-warning" title="Edit this Template">Incomplete</span>
                        </a>
                    }
                </td>
            </tr>
        }
    }

</table>
