﻿@model  RallyMVC.ViewModels.UpsertUserProfileViewModel

@{
    ViewBag.Title = "Create User Profile";

    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <p class="alert-info">@(ViewBag.Message)</p>
    }
}

<h2>Create</h2>
<p class="alert-info"><i>Only users <b>without</b> their RallyCreds setup are available here.</i>.</p>
<br />
@if (!string.IsNullOrEmpty(ViewBag.Message))
    {
    <div class="alert alert-info fade in" role="alert" id="MessageAlert">
        <strong>@(ViewBag.Message)</strong>
    </div>
    <script>
        // fade out/slideup in 3 seconds
        $("#MessageAlert").fadeTo(2000, 500).slideUp(500, function(){
            $("#MessageAlert").alert('close');
        });
    </script>
    }

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User Profile</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserToCreateId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserToCreateId", new SelectList(Model.AdUsers, "Value", "Text"), "Choose...", new { @class = "form-control" })
                @Html.ValidationMessage("UserToCreateId", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RallyUsername, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RallyUsername, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RallyUsername, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RallyPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RallyPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RallyPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.UserPermissionFlags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPermissionFlags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPermissionFlags, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(x=>x.UserToCreateFullName)
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $('#UserToCreateId').change(function (e) {
        $('#UserToCreateFullName').val($("#UserToCreateId option:selected").text());
    });
</script>