﻿@using eBayData.Classes
@model IEnumerable<RallyMVC.ViewModels.UserProfileIndexListViewModel>

@{
    ViewBag.Title = "User Profiles";

    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <p class="alert-info">@(ViewBag.Message)</p>
    }
}

<h2>User Profiles</h2>
<p class="alert-info"><i>AD Groups available to use this app can be edited in the Web.Config:</i> <b>key = 'AllowedOUs'</b>.</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserPermissionFlags)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        @*<td>
            @foreach (Enums.UserPermissionFlags svf in Enum.GetValues(typeof(Enums.UserPermissionFlags)))
            {
                @Html.CheckBox("UserPermissionFlags", (item.UserPermissionFlags.HasFlag(svf)), new { value = svf, disabled = "disabled" })
                @Html.Label("UserPermissionFlagsLabel", svf.ToString())
                @:&nbsp;
            }
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
