﻿@model RallyMVC.ViewModels.UpsertUserProfileViewModel

@{
    ViewBag.Title = "MyRallyCreds";
     

}

<h2>My Rally Creds</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p class="alert-info">@(ViewBag.Message)</p>
}
@if (TempData["Message"] != null)
{
    <p class="alert-info">@(TempData["Message"].ToString())</p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Rally Credentials</h4>
        <hr />
        @Html.ValidationSummary(true, "hello?", new { @class = "text-danger" })
       
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RallyUsername, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RallyUsername, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RallyUsername, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RallyPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.RallyPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RallyPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive, new { @checked = "checked" })
                    @*@Html.EditorFor(model => model.IsActive)*@
                    @*@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })*@
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(x => x.Sid)
}