﻿@model RallyMVC.ViewModels.ErrorViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Error</h2>

<p>Sorry, there was an error processing your request.</p>

<p>The Team has been advised.</p>

<p>The simple error message is:</p>

<hr/>

<b>"@(Model.Message)"</b>