﻿@model RallyMVC.ViewModels.RallyCreateFeatureViewModel

@{
    ViewBag.Title = "Create";
}

<h2>@(Model.FeatureType.Name) in RallyAPI</h2>

<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div id="divLookupFeatureId" class="divLookupFeatureId">
        <h4>You must validate the Id of the Feature you wish to modify:</h4>
        <div class="alert-info">
            <input type="text" id="featureIdToSearchFor" size="50" placeholder="Enter Feature Id" class="form-control inputFeatureIdToSearchFor" />
            <input type="button" id="btnLookupFeatureId" value="Lookup Feature Id" style="display:inline-block;" />
            <div id="divUserFeedbackOnFeatureLookup">Searching...<img src="@Url.Content("~/Content/Images/Loading.gif")" alt="Loading..."></div>
        </div>
        <div id="divCurrentSelectedFeature" class="alert-success divCurrentSelectedFeature"></div>
    </div>

    <div id="divUserFeedbackMessage" class="divUserFeedback" style="width:auto"></div>

    <div id="divCreateInRallyForm" class="divCreateInRallyForm">
        <table class="table table-striped">
            <tr>
                <td style="width:150px;">
                    @Html.LabelFor(x => x.NewFeatureNamePrefix, new { @class = "control-label" })
                </td>
                <td style="width:10px">&nbsp;</td>
                <td>
                    @Html.LabelFor(x => x.NewFeatureName, new { @class = "control-label" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(x => x.NewFeatureNamePrefix, new { htmlAttributes = new { @class = "form-control", style = "width:150px;max-width:150px;" } })
                </td>
                <td style="text-align:center;vertical-align:middle;"><div class="glyphicon glyphicon-minus"></div></td>
                <td align="left">
                    @Html.EditorFor(x => x.NewFeatureName, new { htmlAttributes = new { @class = "form-control", style = "width:450px;max-width:450px;" } })
                </td>
            </tr>
            <tr>
                <td>
                    @*@Html.ValidationMessageFor(model => model.NewFeatureNamePrefix, "", new { @class = "text-danger" })*@
                </td>
                <td></td>
                <td>
                    @Html.ValidationMessageFor(model => model.NewFeatureName, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
    </div>

    <div id="divBtnCreateInRally" class="divBtnCreateInRally">
        <input type="button" id="btnCreateInRally" value="Create in RallyAPI" class="btn btn-success form-control" />
    </div>

    @*// progress bar*@
    <div id="divUserFeedback" class="divUserFeedback">
        <div>Please wait... contacting Rally...<img src="@Url.Content("~/Content/Images/Loading.gif")" alt="Loading..."></div>
        <div id="status">0 %</div>
        <div id="statusBorder" class="divStatusBorder">
            <div id="statusFill"></div>
        </div>
    </div>

    <hr />
    <div id="div_HTMLFeatureDisplayView">
        <h3 class="text-center">Verify Feature Details: <i class="alert-warning">"@(Model.FeatureName)"</i></h3>

        @Html.Partial("_HTMLFeatureDisplayView", Model.StoryModel)
    </div>

    @Html.HiddenFor(x => x.FeatureId)
    @Html.Hidden("ExistingFeatureReference")
}

<script>

    // hide divUserFeedbackTask initially
    $('#divUserFeedback').hide();
    $('#divUserFeedbackOnFeatureLookup').hide();
    console.log('Model.FeatureType.Name = ' + '@Model.FeatureType.Name');

    // hide/show forms based on TEmplate Type
    if ('@Model.FeatureType.Name' == 'New Feature')         // 1 = New Feature | 2 = Update Existing Feature
    {
        $('#divLookupFeatureId').hide();                    // initially hide Form until user does a lookup on a featureid
    }
    else if ('@Model.FeatureType.Name' == 'Update Existing Feature')
    {
        $('#divCreateInRallyForm').hide();                  // initially hide Form until user does a lookup on a featureid
        $('#divBtnCreateInRally').hide();                   // initially hide Create a Button until user does a lookup on a featureid
    }

    // search for Feature by ID
    $('#btnLookupFeatureId').on('click', function () {      // get featureIdToSearchFor from form and remove leading 'F' if there is one.
        var featureIdToSearchFor = $('#featureIdToSearchFor').val();
        if (featureIdToSearchFor.indexOf('F', 0) > -1){
            featureIdToSearchFor = featureIdToSearchFor.substr(1);
        }
        console.log('featureIdToSearchFor= '+ featureIdToSearchFor);

        // disable button
        $(this).prop("disabled", true);

        // build Json object to submit
        var token = $('input[name="__RequestVerificationToken"]').val();

        // create model/json object to send
        var ajaxData = {
            __RequestVerificationToken: token,
            FeatureId: $('#featureIdToSearchFor').val()
        };

        // user feedback
        $('#divUserFeedbackOnFeatureLookup').show();

        // ajax
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetFeatureReferenceById", "RallyApi")',
            data: ajaxData,
            datatype: "html",
            success: function (data) {
                console.info(data);
                if (data.JsonFeatureLookupResult != null){
                    $('#ExistingFeatureReference').val(data.JsonFeatureLookupResult._ref);
                    // show currently selected feature
                    $('#divCurrentSelectedFeature').html('Currently Selected Feature: <b>' + $('#featureIdToSearchFor').val() + ' - ' + data.JsonFeatureLookupResult.Name +  '</b>');
                    // user feedback
                    $('#divUserFeedbackMessage').html("<div class='alert alert-success fade in' role='alert' id='messageAlert'><strong>Feature Found - Set as Current Feature to Modify</strong></div>");
                    // fade out/slideup in 3 seconds
                    $("#messageAlert").fadeTo(3000, 500).slideUp(500, function () {
                        $("#messageAlert").alert('close');
                    });
                    // Prepare for Create in Rally
                    $('#NewFeatureName').prop("disabled", true);    // disable 'name' field so passes validation to submit
                    $('#divBtnCreateInRally').show();               // show 'Create In Rally Button'
                }
                else
                {
                    // blank out divCurrentSelectedFeature
                    $('#divCurrentSelectedFeature').html('');
                    // user feedback
                    $('#divUserFeedbackMessage').html("<div class='alert alert-danger fade in' role='alert' id='messageAlert'><strong>" + data.Message + "</strong></div>");
                    // fade out/slideup in 5 seconds
                    $("#messageAlert").fadeTo(5000, 500).slideUp(500, function () {
                        $("#messageAlert").alert('close');
                    });
                    $('#divBtnCreateInRally').hide();               // show 'Create In Rally Button'
                }
            },
            fail: function (data) {
                alert("FAILED\nError: " + data.error);
                // blank out divCurrentSelectedFeature
                $('#divCurrentSelectedFeature').html('');
                // user feedback
                $('#divUserFeedbackMessage').html("<div class='alert alert-danger fade in' role='alert' id='messageAlert'><strong>" + data.error + "</strong></div>");
                // fade out/slideup in 5 seconds
                $("#messageAlert").fadeTo(5000, 500).slideUp(500, function () {
                    $("#messageAlert").alert('close');
                });
            },
            complete: function (data){
                console.info(data);
                // user feedback - enable button either way
                $('#btnLookupFeatureId').prop('disabled',false);
                $('#divUserFeedbackOnFeatureLookup').hide();
            }
        });
    });

    // setup process id by creating a new unique GUID
    var uniqueId = '@(Guid.NewGuid().ToString())';

    // on click/submit
    $('#btnCreateInRally').on('click', function () {
        if ($('form').valid()) {
            // hide
            $('#divCreateInRallyForm').hide();
            $('#divLookupFeatureId').hide();
            $('#div_HTMLFeatureDisplayView').hide();
            $('#divBtnCreateInRally').hide();

            // user Feedback
            $('#divUserFeedback').show();

            // --- build Json object to submit ---

            // get antiforgery token
            var token = $('input[name="__RequestVerificationToken"]').val();

            // create complete JSON model object using token and form values
            var Json = {
                __RequestVerificationToken: token,
                RallyFeatureReference: $('#ExistingFeatureReference').val(),
                TaskId: uniqueId,
                FeatureId: '@(Model.FeatureId)',
                NewFeatureName: $('#NewFeatureName').val(),
                NewFeatureNamePrefix: $('#NewFeatureNamePrefix').val()
            };
            // send
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "RallyApi")',
                data: Json,
                success: function (msg) {
                    // Start the watcher
                    getStatus();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.info(errorThrown);
                    // userfeedback
                    $('#divUserFeedbackMessage').html("<div class='alert alert-danger fade in' role='alert' id='messageAlert'><strong>" + errorThrown + "</strong></div>");
                    // fade out/slideup in 5 seconds
                    $("#messageAlert").fadeTo(5000, 500).slideUp(500, function () {
                        // show everything again
                        $('#divCreateInRallyForm').show();
                        $('#divLookupFeatureId').show();
                        $('#div_HTMLFeatureDisplayView').show();
                        $('#divBtnCreateInRally').show();
                        // close alert
                        $("#messageAlert").alert('close');
                    });
                    $('#divBtnCreateInRally').hide();
                }
            });
            event.preventDefault;
        }
    });

    // Watcher: this calls itself repeatedly after initial call onClick to update the progress bar
    function getStatus() {
        var url = '../GetCurrentProgress/' + uniqueId;
        $.get(url, function (data) {
            console.log('percentage = ' + data);
            if (data < 100) {
                $('#status').html(data + '%');
                $('#statusFill').width(data + '%');
                window.setTimeout("getStatus()", 350);
            }
            else {
                // hide progress bar
                $('#divUserFeedback').hide();
                // SUCCESS AND REDIRECT
                $('#divUserFeedbackMessage').html("<div class='alert alert-success fade in' role='alert' id='messageAlert'><strong>Rally API Progress Complete... REDIRECTING...</strong></div>");
                // fade out/slideup in 2 seconds
                $("#messageAlert").fadeTo(2000, 500).slideUp(500, function () {
                    $("#messageAlert").alert('close');
                    window.location.replace("@(Url.Action("Index", "Feature"))");
                });
            };
        });
    }
</script>

