﻿
@{
    ViewBag.Title = "Create";
}

<h2>Help - <i>Create New Template</i></h2>

<h4 class="helpHeaderH4">Step 1: Click 'Create New Template'</h4>

<p>
    To create a new Template, click the <a href="@(Url.Action("Create","Feature"))" class="btn btn-primary btn-sm text-center">Create New Feature Template</a> 
    button on the home page or on the <a href="@(Url.Action("Index","Feature"))">'Feature Templates'</a> link in the top menu.
    You will be presented with a form with some required fields to get the basic info for the new feature.
</p>

<h4 class="helpHeaderH4">Step 2: Fill out Basic Info</h4>

<p>
    Choose a 'Template Type', 'Name', and 'Description' 
    at minimum. 
<p/>
<p>
    'Template Type' is a choice of 'New Feature' or 'Update Existing Feature'. The difference is 'New Feature' simply creates a new Feature in Rally
    and 'Update Existing Feature' will update an existing feature in Rally.
    After filling it out, click 'Create'.
</p>

<div class="helpImgDiv">
    <span class="helpImgTitle">Create New Feature Form</span><br />
    <img class="helpImg" src="~/Content/Images/form-createnewfeature.JPG" />
</div>

<p>You will then be taken directly to the Feature List.</p>

<a href="@(Url.Action("Edit","Help"))" class="helpNavLink">Go to 'Edit Template' Help<div class="glyphicon glyphicon-chevron-right"></div></a> 