﻿
@{
    ViewBag.Title = "EditDetails";
}

<h2>Help - <i>Edit Template Details</i></h2>

<h4 class="helpHeaderH4">Understanding this screen</h4>
<p>
    In the Details section, when interacting with any Feature Template,
    you will be shown various *<b>modal</b> windows that 'pop-up', to allow editing
    of every facet. 
</p>
<p>
    You can also sort items so that they are created in Rally in the
    same priority as you see them in the template.
</p>
<p>
    <i style="font-size:10pt; font-weight: bold;">
        * Each modal form has required fields.
        You will be informed if there are any fields missing that require data entry.
    </i>
</p>


<h4 class="helpHeaderH4">Interacting with the Template</h4>
<h5>Adding Epic and Stand-Alone Stories</h5>

<p>    
    If you click either <img src="~/Content/Images/btn-add-epic-story.JPG" />
    or <img src="~/Content/Images/btn-add-stand-alone-user-story.JPG" />
    you will be presented with a generic form for both Epic and User Stories. 
    This form has required fields, as well.
    @*<a href="@(Url.Action("Index", "Feature"))">Feature Templates</a>*@ 
</p>
<div class="helpImgDiv">
    <span class="helpImgTitle">Add User Story Form</span><br />
    <img class="helpImg" src="~/Content/Images/modal-epicuser-stories.JPG" />
</div>


<hr />
<h5>Adding User Stories To Epics</h5>
<p>
    You can add User Stories to Epic Stories by clicking the 'Add User Story to ...' button
    under each Epic Story.
</p>
<div class="helpImgDiv">
    <span class="helpImgTitle">Add User Story To Epic Story Modal</span><br />
    <img class="helpImg" src="~/Content/Images/help-add-user-story-to-epic.JPG" />
</div>
<p>
    Which will show you another modal like this.
</p>
<div class="helpImgDiv">
    <span class="helpImgTitle">Add/Update Epic/User Story Modal</span><br />
    <img class="helpImg" src="~/Content/Images/help-add-user-story-modal.JPG" />
</div>


<hr />
<h5>Adding Tasks To User Stories</h5>
<p>
    You can add Tasks to User Stories by clicking the 'Add Task to ...' button
    under each User Story.
</p>
<div class="helpImgDiv">
    <span class="helpImgTitle">Add User Story To Epic Story Modal</span><br />
    <img class="helpImg" src="~/Content/Images/help-add-task-to-userstory-modal.JPG" />
</div>
<p>
    Which will show you another modal like this.
</p>
<div class="helpImgDiv">
    <span class="helpImgTitle">AddTask to User Story Modal</span><br />
    <img class="helpImg" src="~/Content/Images/help-add-task-modal.JPG" />
</div>


<hr />
<h5>Editing Tasks and Stories</h5>
<p>
    You can edit Tasks and Stories by clicking icons for <span class="glyphicon glyphicon-edit"></span> Edit
    &nbsp;&nbsp; or <span class="glyphicon glyphicon-remove"></span> Remove &nbsp;&nbsp;next to each respective item.
    A modal will show with the existing information that you can edit and save.
</p>
<div class="helpImgDiv">
    <span class="helpImgTitle">Edit User Story Modal</span><br />
    <img class="helpImg" src="~/Content/Images/help-edit-story-modal.JPG" />
</div>



<h4 class="helpHeaderH4">Sorting Items</h4>
<h5 class="helpStrongInfoH5">--Sorting is among siblings in the same container only.--</h5>

<p>
    When you have more than one of anything,
    you can sort their creation order in Rally by dragging/dropping above and below their siblings.
</p>
<p>
    However, you <b>cannot</b>, for example, <i>drag a task from one User Story to another User/Epic Story</i>.
    Nor can you <i>drag a UserStory from one Epic to another Epic</i>.
</p>
<div class="helpImgDiv">
    <span class="helpImgTitle">Before Sort</span><br />
    <img class="helpImg" src="~/Content/Images/help-sort-before.JPG" />
</div>
<hr />
<div class="helpImgDiv">
    <span class="helpImgTitle">During Sort</span><br />
    <img class="helpImg" src="~/Content/Images/help-sort-during.JPG" />
</div>
<hr />
<div class="helpImgDiv">
    <span class="helpImgTitle">After Sort</span><br />
    <img class="helpImg" src="~/Content/Images/help-sort-after.JPG" />
</div>

<a href="@(Url.Action("UsageInRally","Help"))" class="helpNavLink">Go to 'Usage In Rally' Help<div class="glyphicon glyphicon-chevron-right"></div></a> 