﻿
@{
    ViewBag.Title = "Edit";
}

<h2>Help - <i>Edit Template</i></h2>

<h4 class="helpHeaderH4">Step 1: Getting to the Edit Screen</h4>

<p>
    To edit an existing Template or one you just created, click on <a href="@(Url.Action("Index", "Feature"))">Feature Templates</a> in the menu.
    You will see a list like this one:
</p>
<div class="helpImgDiv">
    <span class="helpImgTitle">Feature Template List</span><br />
    <img class="helpImg" src="~/Content/Images/feature-template-list.JPG" />
</div>

<p>
    You can click<span class="glyphicon glyphicon-edit"></span> to Edit,<span class="glyphicon glyphicon-remove"></span> to remove,
    or <img src="~/Content/Images/btncreateinRallyBig.JPG" alt="Create In Rally" /> (if available). 
</p>
<p>
    Create In Rally is only available if a template has at least one task otherwise it will be marked <span class="btn btn-warning">Incomplete</span>.
</p>
<hr />

<h4 class="helpHeaderH4">Step 2: When you click 'Edit' on one of the Templates</h4>

<p>
    The top of this page is the same 'Basic Info' that can be edited and saved. From 'Details' down are the Epic/User stories and associated tasks.
</p>

<div class="helpImgDiv">
    <span class="helpImgTitle">Edit Basic Info Form</span><br />
    <img class="helpImg" src="~/Content/Images/feature-template-edit.JPG" />
</div>

<a href="@(Url.Action("EditDetails","Help"))" class="helpNavLink">Go to 'Edit Template Details' Help<div class="glyphicon glyphicon-chevron-right"></div></a> 