﻿
@{
    ViewBag.Title = "Index";
}

<h2>Help</h2>

<div class="helpListDiv">
    <div>        
        <p>
            <div class="glyphicon glyphicon-question-sign"></div>
            Here are the help pages for each step in the process.
        </p>
    </div>
    <ul class="list-unstyled helpListUL">
        <li class="li1"><span class="glyphicon glyphicon-pencil">&nbsp;</span><a href="@(Url.Action("Create"))">How to Create a new Template</a></li>
        <li class="li2"><span class="glyphicon glyphicon-edit">&nbsp;</span><a href="@(Url.Action("Edit"))">How to Edit an existing Template</a> </li>
        <li class="li1"><span class="glyphicon glyphicon-list-alt">&nbsp;</span><a href="@(Url.Action("EditDetails"))">How to Edit the Details of an existing Template</a> </li>
        <li class="li2"><span class="glyphicon glyphicon-transfer">&nbsp;</span><a href="@(Url.Action("UsageInRally"))">Usage in Rally</a> </li>
    </ul>    
</div>