﻿
@{
    ViewBag.Title = "UsageInRally";
}

<h4 class="helpHeaderH4">Template Usage in Rally</h4>
<p>
    When moving to create/apply your template to Rally, you will need to supply different information depending on the <b>Template Type</b>.
</p>
<p>
    Currently, there are two <b>Template Types</b>:
    <ul>
        <li style="margin-bottom:20px;">
            <b class="bg-warning">New Feature</b> - <i>requires a name</i> and an optional 'prefix' that will prefix your Feature as well as all your Stories, Tasks, etc. If you leave 'prefix' blank it will be ignored
            <ul>
                <li>Enter a Prefix <i>(Optional)</i></li>
                <li>
                    Enter a Name <i>(Required)</i>
                    <br />

                    <div class="helpImgDiv">
                        <span class="helpImgTitle">Create New Feature</span><br />
                        <img class="helpImg" src="~/Content/Images/CreateNewFeature.JPG" />
                    </div>

                </li>
            </ul>
        </li>
        <li>
            <b class="bg-warning">Update Existing Feature</b> - <i>requires the lookup</i> of an existing 'Feature Id' <i><b>(leading 'F' is optional in Id)</b></i>
            <ul>
                <li>Enter an Id<br />
                    <div class="helpImgDiv">
                        <span class="helpImgTitle">Existing Feature Lookup in Rally</span><br />
                        <img class="helpImg" src="~/Content/Images/LookUpFeatureId.JPG" alt="Existing Feature Lookup in Rally" />
                    </div></li>
                <li>Click 'Lookup Feature Id'
                    <div class="helpImgDiv">
                        <span class="helpImgTitle">Looking Up</span><br />
                        <img class="helpImg" src="~/Content/Images/LookingUpFeatureId.JPG" alt="Looking Up" />
                    </div></li>
                <li>On Success
                    <div class="helpImgDiv">
                        <span class="helpImgTitle">Success</span><br />
                        <img class="helpImg" src="~/Content/Images/LookUpSucceededFeatureId.JPG" alt="Success" />
                    </div></li>
                <li>On Fail
                    <div class="helpImgDiv">
                        <span class="helpImgTitle">Failure</span><br />
                        <img class="helpImg" src="~/Content/Images/LookUpFailedFeatureId.JPG" alt="Failure" />
                    </div></li>
            </ul>
        </li>
        </ul>

        <p>
            <b class="">Upon attempting to CREATE any template in Rally, you will be presented a progress bar. <br />Simply wait until it completes.</b>
            <ul>
                <li><div class="helpImgDiv">
                        <span class="helpImgTitle">Progress Bar</span><br />
                        <img class="helpImg" src="~/Content/Images/RallyProgressBar.JPG" />
                    </div></li>
            </ul>
        </p>
</p>