﻿@model RallyMVC.ViewModels.UserStoryEpicStoryDisplayViewModel

@{
    Layout = null;
}

<style>
    .accordion-expand-holder {
        margin: 10px 0;
    }

    .accordion-expand-holder .open, .accordion-expand-holder .closeIt {
        margin: 0 10px 0 0;
    }

    .ui-accordion-content {
        height: auto;
    }

    hr.style-two {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    table {
        border-collapse: collapse;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;
    }
</style>

<script>
    if (window.jQuery) {
        // jQuery is loaded
        // alert("jquery");
    } else {
        // jQuery is not loaded
    }
</script>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

@*<hr class="style-two" />*@

<h2>Epic Stories (@(Model.EpicParentStories.Count())) <span class="pull-right" style="font-size: 12pt;">*Calculated</span></h2>
<div class="accordion" style="border: 1px solid #e1e1e1;">

    @foreach (var epicStory in Model.EpicParentStories.OrderBy(o => o.SortOrderId))
    {
        <div class="EpicStory-@(epicStory.Id)">
            <h3 id="EpicStory-@(epicStory.Id)">@(epicStory.Name) <span class="pull-right">*Total User Story Estimated Time: @(epicStory.UserStories.Sum(x => x.EstimatedTime))</span></h3>
            <div>
                <div class="text-nowrap pull-left" style="margin-bottom:5px; width:100%;">
                    <a href="javascript:LoadStoryForEdit('@(epicStory.Id)', 'EpicStory');" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                    &nbsp;
                    <a href="javascript:DeleteStory('@(epicStory.Id)', 'EpicStory');" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
                    <div class="pull-right">Estimated Time: @(epicStory.EstimatedTime)</div>
                </div>
                <table class="table table-striped table-condensed table-hover table-bordered" style="width:100%">
                    <tr>
                        <td align="right" valign="top" style="width:50px;">Project: </td>
                        <td class="tdStoryProjectName"><b>@(epicStory.RallyProjectName)</b></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">Description: </td>
                        <td class="tdStoryDescription">@(epicStory.Description)</td>
                    </tr>
                    <tr>
                        <td align="right"><i>Owner: </i></td>
                        <td class="tdStoryOwner">@(epicStory.UserProfileId.HasValue ? epicStory.UserProfile.FullName : "")</td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">Notes:</td>
                        <td class="tsStoryNotes"><i>@(epicStory.Notes)</i></td>
                    </tr>
                </table>

                <hr class="style-two" />

                <div style="margin-bottom:20px;vertical-align:middle;">
                    <span class="glyphicon glyphicon-plus-sign" title="Add User Story" style="cursor: pointer; vertical-align: middle;" onclick="ShowUserStoryModal('@(epicStory.Id)');"></span>
                    <span style="font-size:12pt;font-weight:bolder;">User Stories (@(epicStory.UserStories.Count()))</span>
                </div>

                @if (epicStory.UserStories != null)
                {
                    <div class="accordion" style="border: 1px solid #e1e1e1;">

                        @foreach (var userStory in epicStory.UserStories.OrderBy(o => o.SortOrderId))
                        {
                            <div class="UserStory-@(userStory.Id)">
                                <h3 id="UserStory-@(userStory.Id)">@(userStory.Name) <span class="pull-right">*Total Estimated Task Time: @(userStory.Tasks.Sum(x => x.EstimatedTime))</span></h3>
                                <div>
                                    <div class="text-nowrap pull-left" style="margin-bottom:5px; width:100%;">
                                        <a href="javascript:LoadStoryForEdit('@(userStory.Id)', 'UserStory');" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                        &nbsp;
                                        <a href="javascript:DeleteStory('@(userStory.Id)', 'UserStory');" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
                                        @*<button type="button" onclick="javascript:DeleteStory('@(userStory.Id)', 'UserStory');">Delete UserStory</button>
                                            <button type="button" onclick="javascript:LoadStoryForEdit('@(userStory.Id)', 'UserStory');">Edit UserStory</button>*@
                                        <div class="pull-right">Estimated Time: @(userStory.EstimatedTime)</div>
                                    </div>
                                    <table class="table table-striped table-condensed table-hover table-bordered" style="width:100%; left:0px;">
                                        <tr>
                                            <td align="right" valign="top" style="width:50px;">Project: </td>
                                            <td class="tdStoryProjectName"><b>@(userStory.RallyProjectName)</b></td>
                                        </tr>
                                        <tr>
                                            <td align="right" valign="top">Description: </td>
                                            <td class="tdStoryDescription">@(userStory.Description)</td>
                                        </tr>
                                        <tr>
                                            <td align="right"><i>Owner: </i></td>
                                            <td class="tdStoryOwner">@(userStory.UserProfileId.HasValue ? userStory.UserProfile.FullName : "")</td>
                                        </tr>
                                        <tr>
                                            <td align="right" valign="top">Notes: </td>
                                            <td class="tsStoryNotes">@(userStory.Notes)</td>
                                        </tr>
                                    </table>

                                    <hr class="style-two" />

                                    <div class="divTasksHeader">
                                        <span class="glyphicon glyphicon-plus-sign" title="Add Task" style="cursor: pointer; vertical-align: middle;" onclick="ShowTaskModalForAdd('@(userStory.Id)');"></span>
                                        Tasks (@(userStory.Tasks.Count()))
                                    </div>
                                    @if (userStory.Tasks != null)
                                    {
                                        if (userStory.Tasks.Count > 0)
                                        {
                                            <div class="accordion">
                                                @foreach (var task in userStory.Tasks.OrderBy(o => o.SortOrderId))
                                                {
                                                    <div class="Task-@(task.Id)">
                                                        <h3 id="Task-@(task.Id)">@(task.Name)</h3>
                                                        <div>
                                                            <div>
                                                                <a href="javascript:GetTaskToEdit('@(task.Id)');" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                                &nbsp;
                                                                <a href="javascript:DeleteTask('@(task.Id)');" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
                                                                <span class="pull-right">Estimated Time: @(task.EstimatedTime)</span>
                                                            </div>
                                                            <table class="table table-striped table-condensed table-hover table-bordered" style="width:100%;">
                                                                <tr>
                                                                    <th width="10%"></th>
                                                                    <th></th>
                                                                </tr>
                                                                <tr>
                                                                    <td align="right" valign="top"><i>Description: </i></td>
                                                                    <td class="tdTaskDescription">@(task.Description)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="right"><i>Owner: </i></td>
                                                                    <td class="tdTaskOwner">@(task.UserProfileId.HasValue ? task.UserProfile.FullName : "")</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="right" valign="top"><i>Notes: </i></td>
                                                                    <td class="tdTaskNotes">@(task.Notes)</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <table>
                                                <tr>
                                                    <td colspan="2">No Tasks Assigned.</td>
                                                </tr>
                                            </table>
                                        }
                                    }

                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>

@* Stand alone UserStories *@
@if (Model.StandAloneUserStories != null)
{
    <h2>Stand-Alone UserStories (@(Model.StandAloneUserStories.Count()))</h2>
    <div class="accordion" style="border: 1px solid #e1e1e1;">

        @foreach (var userStory in Model.StandAloneUserStories)
        {
            <div class="UserStory-@(userStory.Id)">
                <h3 id="UserStory-@(userStory.Id)">@(userStory.Name) <span class="pull-right">*Total Estimated Task Time: @(userStory.Tasks.Sum(x => x.EstimatedTime))</span></h3>
                <div>
                    <div class="text-nowrap pull-left" style="margin-bottom:15px; width:100%;">
                        <a href="javascript:LoadStoryForEdit('@(userStory.Id)', 'UserStory');" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        &nbsp;
                        <a href="javascript:DeleteStory('@(userStory.Id)', 'UserStory');" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
                        <span class="pull-right">Estimated Time: @(userStory.EstimatedTime)</span>
                    </div>
                    <div>
                        <table class="table table-striped table-condensed table-hover table-bordered" style="margin-bottom:15px; width:100%;">
                            <tr>
                                <td align="right" valign="top" style="width:50px;">Project: </td>
                                <td class="tdStoryProjectName"><b>@(userStory.RallyProjectName)</b></td>
                            </tr>
                            <tr>
                                <td valign="top">Description: </td>
                                <td class="tdStoryDescription">@(userStory.Description)</td>
                            </tr>
                            <tr>
                                <td align="right"><i>Owner: </i></td>
                                <td class="tdStoryOwner">@(userStory.UserProfileId.HasValue ? userStory.UserProfile.FullName : "")</td>
                            </tr>
                            <tr>
                                <td align="right" valign="top">Notes: </td>
                                <td class="tdStoryNotes">@(userStory.Notes)</td>
                            </tr>
                        </table>
                    </div>

                    <div class="divTasksHeader">
                        <span class="glyphicon glyphicon-plus-sign" title="Add Task" style="cursor: pointer; vertical-align: middle;" onclick="ShowTaskModalForAdd('@(userStory.Id)');"></span>
                        Tasks (@(userStory.Tasks.Count()))<span class="pull-right">*Total Estimated Task Time: @(userStory.Tasks.Sum(x => x.EstimatedTime))</span>
                    </div>
                    @if (userStory.Tasks != null)
                    {
                        if (userStory.Tasks.Count > 0)
                        {
                            <div class="accordion">
                                @foreach (var task in userStory.Tasks.OrderBy(o => o.SortOrderId))
                                {
                                    <div class="Task-@(task.Id)">
                                        <h3 id="Task-@(task.Id)">@(task.Name)</h3>
                                        <div>
                                            <div>
                                                <a href="javascript:GetTaskToEdit('@(task.Id)');" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                &nbsp;
                                                <a href="javascript:DeleteTask('@(task.Id)');" title="Remove"><span class="glyphicon glyphicon-remove"></span></a>
                                                <span class="pull-right">Estimated Time: @(task.EstimatedTime)</span>
                                            </div>
                                            <table class="table table-striped table-condensed table-hover table-bordered" style="width:100%;">
                                                <tr>
                                                    <th width="10%"></th>
                                                    <th></th>
                                                </tr>
                                                <tr>
                                                    <td align="right" valign="top">Description: </td>
                                                    <td class="tdTaskDescription">@(task.Description)</td>
                                                </tr>
                                                <tr>
                                                    <td align="right"><i>Owner: </i></td>
                                                    <td class="tdTaskOwner"> @(task.UserProfileId.HasValue ? task.UserProfile.FullName : "")</td>
                                                </tr>
                                                <tr>
                                                    <td align="right" valign="top"><i>Notes: </i></td>
                                                    <td class="tdTaskNotes"> @(task.Notes)</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <table>
                                <tr>
                                    <td colspan="2">No Tasks Assigned.</td>
                                </tr>
                            </table>
                        }
                    }
                </div>
            </div>

        }
    </div>
}
<script>

    // Accordion - uses cookies to remember active positions on reload
    $(document).ready(function () {
        // get cookies for accordion
        $.cookie.json = true;
        var theCookies = $.cookie();

        $(".accordion")
            .accordion({
                collapsible: true,
                //beforeActivate: function( event, ui ) {
                //    //write your code here
                //    ui.newHeader.removeClass('minus').addClass('plus');
                //    $('.ach').not('.plus').addClass('minus');
                //},
                active: false,// ($.cookie($(this).val()) || 0),
                activate: function (e, ui) {
                    //console.info(e);
                    //console.info(ui);
                    if (ui.newHeader[0] != null) {   // expand
                        // get parentAccordionId
                        var uiID = ui.newHeader[0].id;
                        // set cookie
                        $.cookie(uiID, 0);
                        console.log('Set Cookie = ' + uiID);
                    } else {                            // collapse
                        if (ui.oldHeader != null) {
                            console.log(ui.oldHeader[0].id);
                            $.removeCookie(ui.oldHeader[0].id);
                            console.log('Removed Cookie = ' + ui.oldHeader[0].id);
                        };
                    }
                },
                header: "> div > h3",
                //autoHeight: false,
                heightStyle: "content" //<- this fixes the problem with the squished height
            });

        // open each accordion according to the cookies
        $.each(theCookies, function (i, val) {
            //valInt = parseInt(val);
            console.log('\ncookie = ' + i + '\nval = ' + val);
            $('#' + i).click();
            //---------------
            // for debugging/testing
            //$.removeCookie(i);
        });

        function accordionSetSortable() {
            $(".accordion")
            .sortable({
                axis: "y",
                handle: "h3",
                start: function (event, ui) {           // on DRAG
                    ui.item.startPos = ui.item.index(); // get start position and attach it to the 'item'
                },
                stop: function (event, ui) {            // on DROP
                    // debug info
                    console.info(event);
                    console.info(ui);
                    // positions
                    var sortUpdateOldIndexPosition = ui.item.startPos;
                    var sortUpdateNewIndexPosition = ui.item.index();
                    console.log("Start position: " + ui.item.startPos);
                    console.log("New position: " + ui.item.index());
                    // if the position didn't change, return;
                    if (sortUpdateOldIndexPosition == sortUpdateNewIndexPosition)
                        return;
                    // get id
                    var accordionInfo = ui.item[0].className;
                    console.log('accordioninfo = ' + accordionInfo);
                    // split on dash to get type and id
                    var partsOfStr = accordionInfo.split('-');
                    var sortUpdateType = partsOfStr[0];
                    var sortUpdateId = partsOfStr[1];
                    console.log('sortUpdateType = ' + sortUpdateType);
                    console.log('sortUpdateId = ' + sortUpdateType)
                    // build AJAX data
                    var token = $('input[name="__RequestVerificationToken"]').val();
                    var model = {
                        SortUpdateType: sortUpdateType,
                        SortUpdateId: sortUpdateId,
                        SortUpdateOldIndexPosition: sortUpdateOldIndexPosition,
                        SortUpdateNewIndexPosition: sortUpdateNewIndexPosition
                    };
                    var ajaxData = {
                        __RequestVerificationToken: token,
                        model: model
                    }
                    // Send to Controller
                    $.ajax({
                        url: "@(Url.Action("SortItems", "Feature"))",
                        type: "POST",
                        data: ajaxData,
                        success: function (data) {
                            if (data.Result === 1) { // success ---
                                // User feedback - fade out/slideup in 3 seconds
                                $("#sortCompleteModal").fadeTo(1000, 500).slideUp(500, function () {
                                    $("#sortCompleteModal").alert('close');
                                });
                            }
                            else { // failure
                                // User feedback
                                alert("There was an error processing your request.\nPlease try again and/or inform the Administrator.\n\nResponse: " + data.responseText);
                            }
                        },
                        error: function (data) {
                            alert("There was an error processing your request.\nPlease try again and/or inform the Administrator.\n\nResponse: " + data.responseText);
                        }
                    });
                    // IE doesn't register the blur when sorting
                    // so trigger focusout handlers to remove .ui-state-focus
                    ui.item.children("h3").triggerHandler("focusout");

                    // Refresh accordion to handle new order
                    $(this).accordion("refresh");

                    //var sortable_order = $(this).sortable('serialize');
                    //console.info(sortable_order);
                }
            })
        }

        // fire it up a second after load to give the accordion time to expand
        setTimeout(accordionSetSortable, 1000);

        // this is for the nesting of accordions
        // -------------------------------------
        //var icons = $(".accordion").accordion("option", "icons");
        $('.open').click(function () {
            $('.ui-accordion-header').removeClass('ui-corner-all').addClass('ui-accordion-header-active ui-state-active ui-corner-top').attr({
                'aria-selected': 'true',
                'tabindex': '0'
            });
            $('.ui-accordion-header-icon').removeClass(icons.header).addClass(icons.headerSelected);
            $('.ui-accordion-content').addClass('ui-accordion-content-active').attr({
                'aria-expanded': 'true',
                'aria-hidden': 'false'
            }).show();
            $(this).attr("disabled", "disabled");
            $('.closeIt').removeAttr("disabled");
        });
        $('.closeIt').click(function () {
            $('.ui-accordion-header').removeClass('ui-accordion-header-active ui-state-active ui-corner-top').addClass('ui-corner-all').attr({
                'aria-selected': 'false',
                'tabindex': '-1'
            });
            $('.ui-accordion-header-icon').removeClass(icons.headerSelected).addClass(icons.header);
            $('.ui-accordion-content').removeClass('ui-accordion-content-active').attr({
                'aria-expanded': 'false',
                'aria-hidden': 'true'
            }).hide();
            $(this).attr("disabled", "disabled");
            $('.open').removeAttr("disabled");
        });
        // Headers on click open/close
        $('.ui-accordion-header').click(function (event, ui) {
            $('.open').removeAttr("disabled");
            $('.closeIt').removeAttr("disabled");
        });
    });
</script>
