﻿@model RallyMVC.ViewModels.UserStoryEpicStoryDisplayViewModel

@{
    Layout = null;
}

<style>
    .accordion-expand-holder {
        margin: 10px 0;
    }

    .accordion-expand-holder .open, .accordion-expand-holder .closeIt {
        margin: 0 10px 0 0;
    }

    .ui-accordion-content {
        height: auto;
    }

    hr.style-two {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }

    table {
        border-collapse: collapse;
    }

    td {
        padding-top: .5em;
        padding-bottom: .5em;
    }
</style>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<hr class="style-two" />

<div class="accordion-expand-holder pu">
    <button type="button" class="open btn btn-group-sm">Expand all</button>
    <button type="button" class="closeIt btn btn-group-sm">Collapse all</button>
</div>

<h2>Epic Stories (@(Model.EpicParentStories.Count())) <span class="pull-right text-info">*Calculated</span></h2>
<div class="accordion">
@foreach (var epicStory in Model.EpicParentStories.OrderBy(x => x.SortOrderId))
{
    <h3>@(epicStory.Name) <span class="pull-right">*Total User Story Estimated Time: @(epicStory.UserStories.Sum(x => x.EstimatedTime))</span></h3>
    <div style="background-color:#eeeeee">
        <div class="text-nowrap pull-left" style="margin-bottom:5px; width:100%;">
            @*<button type="button" onclick="javascript:DeleteStory('@(epicStory.Id)', 'EpicStory');">Delete Epic Story</button>
            <button type="button" onclick="javascript:LoadStoryForEdit('@(epicStory.Id)', 'EpicStory');">Edit Epic Story</button>*@
            <div class="pull-right">Estimated Time: @(epicStory.EstimatedTime)</div>
        </div>
        <table style="width:100%">
            <tr>
                <td align="right" valign="top" style="width:50px;">Project: </td>
                <td class="alert-success"><b>@(epicStory.RallyProjectName)</b></td>
            </tr>
            <tr>
                <td align="right" valign="top"><i>Owner: </i></td>
                <td class="alert-info">@(epicStory.UserProfileId.HasValue ? epicStory.UserProfile.FullName : "")</td>
            </tr>
            <tr>
                <td align="right" valign="top" style="width:50px;">Description: </td>
                <td class="alert-success"><p>@(epicStory.Description)</p></td>
            </tr>
            <tr>
                <td align="right" valign="top">Notes:</td>
                <td class="alert-info"><i>@(epicStory.Notes)</i></td>
            </tr>
        </table>
        <hr class="style-two" />
        <div style="margin-bottom:20px;">
            <span style="font-size:12pt;font-weight:bolder;">User Stories (@(epicStory.UserStories.Count()))</span>
            @*<span class="pull-right"><button type="button" id="addUserStory" name="addUserStory" class="btn-sm" onclick="ShowUserStoryModal('@(epicStory.Id)');" >Add User Story To <b>"@(epicStory.Name)"</b></button></span>*@
        </div>
        @if (epicStory.UserStories != null)
        {
            foreach (var item in epicStory.UserStories.OrderBy(x => x.SortOrderId))
            {
            <div class="accordion">
                <h3>@(item.Name) <span class="pull-right">*Total Estimated Task Time: @(item.Tasks.Sum(x => x.EstimatedTime))</span></h3>
                <div>
                    <div class="text-nowrap pull-left" style="margin-bottom:5px; width:100%;">
                        @*<button type="button" onclick="javascript:DeleteStory('@(item.Id)', 'UserStory');">Delete UserStory</button>
                        <button type="button" onclick="javascript:LoadStoryForEdit('@(item.Id)', 'UserStory');">Edit UserStory</button>*@
                        <div class="pull-right">Estimated Time: @(item.EstimatedTime)</div>
                    </div>
                    <table style="width:100%; left:0px;">
                        <tr>
                            <td align="right" valign="top" style="width:50px;">Project: </td>
                            <td class="alert-success"><b>@(item.RallyProjectName)</b></td>
                        </tr>
                        <tr>
                            <td align="right" valign="top"><i>Owner: </i></td>
                            <td class="alert-info">
                                @(item.UserProfileId.HasValue ? item.UserProfile.FullName : "")
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top" style="width:50px;">Description: </td>
                            <td class="alert-success">@(item.Description)</td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">Notes: </td>
                            <td class="alert-info">@(item.Notes)</td>
                        </tr>
                    </table>
                    <br />
                    <div style="font-size:12pt;font-weight:bolder;">
                        Tasks (@(item.Tasks.Count())) 
                        <span class="pull-right">*Total Estimated Task Time: @(item.Tasks.Sum(x=>x.EstimatedTime))</span>
                    </div>                      
                    @if (item.Tasks != null)
                        {
                            if (item.Tasks.Count > 0)
                            {
                                foreach (var task in item.Tasks.OrderBy(x => x.SortOrderId))
                                {
                                <div class="accordion">
                                    <h4>@(task.Name)</h4>
                                    <table class="table-striped table-hover" style="width:100%;">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                @*<button type="button" onclick="javascript:DeleteTask('@(task.Id)');">Delete Task</button>
                                                <button type="button" onclick="javascript:GetTaskToEdit('@(task.Id)');">Edit Task</button>*@
                                            </td>
                                            <td class="pull-right">Estimated Time: @(task.EstimatedTime)</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table style="width:100%;">
                                                    <tr>
                                                        <td align="right" valign="top" width="50px"><i>Name: </i></td>
                                                        <td class="alert-success"> @(task.Name)</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="top"><i>Description: </i></td>
                                                        <td class="alert-info"> @(task.Description)</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="top"><i>Owner: </i></td>
                                                        <td class="alert-info"> @(task.UserProfileId.HasValue ? task.UserProfile.FullName : "")</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="right" valign="top"><i>Notes: </i></td>
                                                        <td class="alert-info"> @(task.Notes)</td>
                                                    </tr>
                                                </table>
                                            </td>                                            
                                        </tr>
                                        <tr><td colspan="2"><hr class="style-two" /></td></tr>
                                    </table>
                                </div>
                            }
                        }
                        else
                        {
                            <table>
                                <tr>
                                    <td colspan="2">No Tasks Assigned.</td>
                                </tr>
                            </table>
                        }
                    }
                    <br />
                    @*<div class="pull-right">
                        <button type="button" onclick="javascript:ShowTaskModalForAdd('@(item.Id)');">Add New Task To <b>"@(item.Name)"</b></button>
                    </div>*@
                </div>
            </div>
            }
        }
    </div>
}
</div>

@* Stand alone UserStories *@
@if (Model.StandAloneUserStories != null)
    {
    <h2>Stand-Alone UserStories (@(Model.StandAloneUserStories.Count()))</h2>
    <div class="accordion">
        @foreach (var userStory in Model.StandAloneUserStories.OrderBy(x => x.SortOrderId))
        {
        <h3>@(userStory.Name) <span class="pull-right">*Total Estimated Task Time: @(userStory.Tasks.Sum(x=>x.EstimatedTime))</span></h3>
        <div>
            <div class="text-nowrap pull-left" style="margin-bottom:5px; width:100%;">
                @*<button type="button" onclick="javascript:DeleteStory('@(userStory.Id)', 'UserStory');">Delete UserStory</button>
                <button type="button" onclick="javascript:LoadStoryForEdit('@(userStory.Id)', 'UserStory');">Edit UserStory</button>*@
                <div class="pull-right">Estimated Time: @(userStory.EstimatedTime)</div>
            </div>
            <div>
                <table style="margin-bottom:15px; width:100%;">
                    <tr>
                        <td align="right" valign="top" style="width:50px;">Project: </td>
                        <td class="alert-success"><b>@(userStory.RallyProjectName)</b></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top"><i>Owner: </i></td>
                        <td class="alert-info"> @(userStory.UserProfileId.HasValue ? userStory.UserProfile.FullName : "")</td>
                    </tr>
                    <tr>
                        <td style="width:50px;" valign="top">Description: </td>
                        <td class="alert-success">@(userStory.Description)</td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">Notes: </td>
                        <td class="alert-info">@(userStory.Notes)</td>
                    </tr>
                </table>
            </div>
            <div class="accordion">
                <h3>Tasks (@(userStory.Tasks.Count()))<span class="pull-right">*Total Estimated Task Time: @(userStory.Tasks.Sum(x => x.EstimatedTime))</span></h3>
                <table class="table-striped table-hover" style="width:100%;">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    @if (userStory.Tasks != null)
                    {
                        if (userStory.Tasks.Count > 0)
                        {
                            foreach (var task in userStory.Tasks.OrderBy(x => x.SortOrderId))
                            {
                                <tr>
                                    <td>
                                        @*<button type="button" onclick="javascript:DeleteTask('@(task.Id)');">Delete Task</button>
                                        <button type="button" onclick="javascript:GetTaskToEdit('@(task.Id)');">Edit Task</button>*@
                                    </td>
                                    <td class="pull-right">Estimated Time: @(task.EstimatedTime)</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <table style="width:100%;">
                                            <tr>
                                                <td align="right" valign="top" style="width:50px;">Name: </td>
                                                <td class="alert-success">@(task.Name)</td>
                                            </tr>
                                            <tr>
                                                <td align="right" valign="top">Description: </td>
                                                <td class="alert-info">@(task.Description)</td>
                                            </tr>
                                            <tr>
                                                <td align="right" valign="top"><i>Owner: </i></td>
                                                <td class="alert-info"> @(task.UserProfileId.HasValue ? task.UserProfile.FullName : "")</td>
                                            </tr>
                                            <tr>
                                                <td align="right" valign="top"><i>Notes: </i></td>
                                                <td class="alert-info"> @(task.Notes)</td>
                                            </tr>
                                        </table>
                                    </td>                                  
                                </tr>
                                <tr><td colspan="2"><hr class="style-two" /></td></tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2">No Tasks Assigned.</td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <br />
            <div class="pull-right">
                @*<button type="button" onclick="javascript:ShowTaskModalForAdd('@(userStory.Id)');">Add New Task To <b>"@(userStory.Name)"</b></button>*@
            </div>
        </div>
        }
    </div>
}
<script>
    // Accordion - Expand All #01
    $(function () {
        $(".accordion").accordion({
            collapsible: true,
            active: false,
            autoHeight: false,
            heightStyle: "content" //<- this fixes the problem with the squished height
        });
        var icons = $(".accordion").accordion("option", "icons");
        $('.open').click(function () {
            $('.ui-accordion-header').removeClass('ui-corner-all').addClass('ui-accordion-header-active ui-state-active ui-corner-top').attr({
                'aria-selected': 'true',
                'tabindex': '0'
            });
            $('.ui-accordion-header-icon').removeClass(icons.header).addClass(icons.headerSelected);
            $('.ui-accordion-content').addClass('ui-accordion-content-active').attr({
                'aria-expanded': 'true',
                'aria-hidden': 'false'
            }).show();
            $(this).attr("disabled", "disabled");
            $('.closeIt').removeAttr("disabled");
        });
        $('.closeIt').click(function () {
            $('.ui-accordion-header').removeClass('ui-accordion-header-active ui-state-active ui-corner-top').addClass('ui-corner-all').attr({
                'aria-selected': 'false',
                'tabindex': '-1'
            });
            $('.ui-accordion-header-icon').removeClass(icons.headerSelected).addClass(icons.header);
            $('.ui-accordion-content').removeClass('ui-accordion-content-active').attr({
                'aria-expanded': 'false',
                'aria-hidden': 'true'
            }).hide();
            $(this).attr("disabled", "disabled");
            $('.open').removeAttr("disabled");
        });
        $('.ui-accordion-header').click(function () {
            $('.open').removeAttr("disabled");
            $('.closeIt').removeAttr("disabled");

        });

        $('.open').click();
    });
</script>

