﻿@using RallyMVC.Classes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rally Creator</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.cookie.js"></script>
   
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Rally Template Control", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <div style="padding-top: 8px; padding-right: 40px;">
                    <img src="~/Content/Images/RallyMVCLogo.jpg" alt="Logo"/>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "" })</li>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("User Profiles", "Index", "UserProfile", null, new { @class = "" })</li>
                        }
                    }
                    <li>@Html.ActionLink("Feature Templates", "Index", "Feature", null, new { @class = ""})</li>
                    <li>@Html.ActionLink("Help", "Index", "Help", null, new { @class = "" })</li>
                </ul>
                <p class="nav navbar-text navbar-right" style="color:white;">Hello, @SimpleObjects.GetUserFullName()</p>
            </div>
        </div>
    </div>

    @* Chrome only warning *@
    @if (Request.Browser.Browser == "InternetExplorer")
    {
        <div class="alert alert-danger" style="position:absolute; top: 45%; width: 100%; text-align: center;"><b>-- This app currently only works in Chrome --</b></div>
    }

    <div class="container body-content" style="padding-top:20px;">
        @RenderBody()
        <hr />
        <footer class="nav navbar-inverse navbar-fixed-bottom col-md-12">
            <div class="divFooter">
                <a href="@(Url.Action("Index","Help"))"><span class="glyphicon glyphicon-question-sign" style="color: white;" title="Help"></span></a>
                <span style="width:30px;">&nbsp;</span>
                <a href="http://rallydev.com" target="_blank" title="CA Agile Central">CA Agile Central</a>
                <span class="pull-right">&copy; @DateTime.Now.Year - Radial Rally MVC Tool</span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
