﻿@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <p class="lead">Rally API - Internal MVC Tool</p>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info fade in" role="alert" id="MessageAlert">
            <strong>@(TempData["Message"])</strong>
        </div>
        <script>
            // fade out/slideup in 3 seconds
            $("#MessageAlert").fadeTo(2000, 500).slideUp(500, function () {
                $("#MessageAlert").alert('close');
            });
        </script>
    }
    else
    {
        <h2>
            If you have <b>NOT</b> already entered your credentials for Rally,
            @Html.ActionLink("enter them now.", "MyRallyCreds", "UserProfile")
        </h2>
    }
</div>

<div class="row homePage">
    <div class="col-md-12">
        <h3 class="homeH3">Overview</h3>
        <p>
            This app allows users to create all the <b>Epic Stories</b>, <b>User Stories</b>, <b>Tasks</b> for a new <b>Feature</b> based on an editable template.
            Once you setup a template, you can use it to create a new feature in Rally or Update an existing one. Templates can be create, edited, and deleted.
        </p>
        <p>
            For more Help, use the @Html.ActionLink("Help", "Index", "Help", null, new { @class = "btn btn-primary btn-sm" }) link in the top menu on every page.
        </p>


        <h4 class="helpHeaderH4">Template Creation</h4>
        <ul>                     
            <li>
                <a href="@(Url.Action("Create","Feature"))" class="btn btn-primary btn-sm">Create New Feature Template</a> will let you create a new <b>Feature Template</b>
                <br /><i style="font-size:smaller;float:right;clear:both;">* This link is also on the 'Feature Templates' page.</i>
            </li>
        </ul>
        <p>
            For more Help, use the @Html.ActionLink("Help", "Index", "Help", null, new { @class = "btn btn-primary btn-sm" }) link in the top menu on every page.
        </p>


        <h4 class="helpHeaderH4">Template Editing</h4>
        <p>You can manipulate:</p>
        <ul>
            <li>Epic Stories</li>
            <li>User Stories</li>
            <li>Tasks (for both)</li>
            <li>Assign Users at any Tier</li>
            <li>Set Estimates</li>
        </ul>
        <p>
            Once created:
        </p>
        <ul>
            <li>
                <a href="@(Url.Action("Index","Feature"))" class="btn btn-primary btn-sm">Feature Templates</a> will show you what templates have already been created and allow editing
                <br /><i style="float:right;font-size:smaller;">*This is in the Top Menu</i>
            </li>            
            <li style="clear:both;">
                <img src="~/Content/Images/btnEditDelete.JPG" /> are available to all Feature Templates on the <a href="@(Url.Action("Index","Feature"))" class="btn btn-primary btn-sm">Feature Templates</a> page
            </li>
            <li>
                <img src="~/Content/Images/btnCreateInRally.JPG" /> will appear next to your template in the 'Feature Templates' list once you have a template ready
            </li>
        </ul>
        <p>
            For more Help, use the @Html.ActionLink("Help", "Index", "Help", null, new { @class = "btn btn-primary btn-sm" }) link in the top menu on every page.
        </p>


        <h4  class="helpHeaderH4">Template Usage in Rally</h4>
        <p>
            When creating your Feature to Rally, you will need different information depending on the <b>Template Type</b>:
            <br />
            <i style="float:right;font-size:smaller;">* Currently, there are two <b>Template Types</b></i>
        </p>    
        <br />    
        <ul class="homeHelpUL">
            <li><b class="bg-warning">New Feature</b> - <i>requires a name</i> and an optional 'prefix' that will prefix your Feature as well as all your Stories, Tasks, etc. If you leave 'prefix' blank it will be ignored</li>
            <li><b class="bg-warning">Update Existing Feature</b> - <i>requires the lookup</i> of an existing 'Feature Id' <i><b>(leading 'F' is optional in Id)</b></i></li>
        </ul>
        <p>
            Upon attempting to apply ANY template in Rally, you will be presented a progress bar. Simply wait until it completes.
        </p>
        <div class="helpImgDiv">
            <span class="helpImgTitle">Progress Bar</span><br />
            <img class="helpImg" src="~/Content/Images/RallyProgressBar.JPG" />
        </div>
        <p>
            For more Help, use the @Html.ActionLink("Help", "Index", "Help", null, new { @class = "btn btn-primary btn-sm" }) link in the top menu on every page.
        </p>
                
    </div>

    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@

</div>